<!-- 搜尋文章
<%= form_tag posts_path, :method => :get do %>
    <%= text_field_tag "keyword" %>
  <%= submit_tag "Search" %>
<% end %> -->

<% @posts.each do |post| %>
<div style="border:1px;border-color:black;border-style:solid;">
<a href="<%= post_url(post) %>">
  <div><%= image_tag(post.avatar.url) %></div>
  <div>  
    <p><strong><%= post.name %></strong></p>
    <%= post.content %>
  </div>
</a> 
</div>
<% end %>
<%= paginate @posts %>