<!-- 搜尋文章
<%= form_tag posts_path, :method => :get do %>
    <%= text_field_tag "keyword" %>
  <%= submit_tag "Search" %>
<% end %> -->

<% @posts.each do |post| %>
<div style="height:50px">  
  <%= post.name %>
  <br>
</div>
<% end %>
<%= paginate @posts %>