<p id="notice"><%= notice %></p>

<h1>Listing Admin Posts</h1>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <% @admin_posts.each do |admin_post| %>
      <tr>
        <td width="20%"><%= admin_post.name %></td>
        <td width="30%"><%= admin_post.content %></td>
        <td width="15%"><%= admin_post.created_at.to_s(:long) %></td>
        <td width="15%"><%= admin_post.updated_at.to_s(:long) %></td>
        
        
        <!-- <td width="5%"><%= link_to 'Show', admin_post %></td> -->
        <td width="5%"><%= link_to '編輯 ', edit_admin_post_path(admin_post) %></td>
        <td width="5%"><%= link_to '刪除', admin_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'New Post', new_admin_post_path %>

<%= paginate @admin_posts %>
