<% @posts.each do |post| %>
<div style="border:1px;border-color:black;border-style:solid;">
<a href="<%= post_url(post) %>">
  <div><%= image_tag(post.avatar.url) %></div></a> 
  <div>  
    <h3><%= post.name %></h3>
    <!-- <div><%= raw(post.content) %></div> -->
    <div><%= post.content.html_safe %></div>
    
  </div>

</div>
<% end %>
<%= paginate @posts %>